* {
  margin: 0;
  padding: 0;
}
/* Common Set Up */
body{
  font-family: 'Lato', sans-serif;
}
.focused-color {
  /* color: #04aa6d; */
  color: #5ac05a;
}
h1 {
  font-size: 64px;
  margin: 0 0 30px;
}
h2 {
  font-size: 48px;
  margin: 0 0 30px;
}
h3 {
  font-size: 32px;
  margin: 0 0 30px;
}
p {
  font-size: 18px;
  margin: 0 0 30px;
  text-align: justify;
}
.text-center {
  text-align: center;
}
.margin-bottom-30px {
  margin: 0 0 30px;
}
.margin-top-30px {
  margin: 30px 0 0;
}
/* Default Flex  */
.flex-container {
  display: flex;
}
/* Stay Focused Styles */
.stay-focused {
  margin: 5% 10%;
}
#stay-focused-on {
  padding-top: 25px;
}
.half-side {
  width: 40%;
  /* margin: 30px; */
  padding: 0 5%;
}
.links-button {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  background-image: linear-gradient(#5ac05a, #04aa6d);
}
#my-top-image {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center center;
  
}
#my-image1 {
  width: 60%;
  margin-left: 20%;
  border-radius: 60%;
}
.left-border {
  border-left: 5px solid #5ac05a;
  line-height: 44px;
}
/* My Mission Styles */
.my-mission-area {
  margin: 5% 10%;
}
.my-mission-item {
  width: 32%;
  height: 250px;
  border-radius: 10px;
  padding: 2%;
  margin-right: 2%;
}
#my-mission-item1 {
  background-color: #581b98;
}
#my-mission-item2 {
  background-color: #2cb978;
}
#my-mission-item3 {
  margin-right: 0;
  background-color: #085f63;
}
.my-mission-item img {
  width: 25%;
}
/* AT section 3 and 4 i see, image taking one quarter place and other texts taking two quarter place thats why i am taking two classes-- one-quarter-width and two-quarter-width */
.one-quarter-width {
  width: 30%;
  margin: 30px;
  padding: 0 3%;
}
.two-quarter-width {
  width: 60%;
  margin: 30px;
  padding: 0 3%;
}
/* Develop Without Limits Section Styles */
.develop-limits {
  margin: 5% 10%;
}
#develop-limits-right {
  padding-top: 5%;
  padding-right: 76px;
}
#develop-limits-left {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35%;
}
.develop-limits img {
  width: 90%;
  margin-left: 10%;
  border-radius: 50px;
}
/* Know Community Styles */
.know-community {
  margin: 5% 10%;
}
#know-community-left {
  padding: 33px 0 0 89px;
}
#know-community-right{
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
}

#project-image {
  width: 90%;
  padding-left: 10px;
}
/* Build Application Styles */
.build-application {
  margin: 5% 10%;
}
.build-application h1{
  font-family: 'Island Moments', cursive;
}
#application-image-box{
  background-image: url(./images/shapes/shape-3.png);
  background-repeat: no-repeat;
  background-position: 10% -10%;
  background-size: 20%;
  
}
#application-image {
  width: 70%;
  padding-left: 50px;
}
#application-texts-box {
  padding-top: 40px;
  padding-right: 84px;
}
/* Footer Styles */
footer {
  background-color: black;
  color: white;
  height: 100px;
  padding-top: 25px;
}
footer h3{
  margin-bottom: 10px;
}


